{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "manage.orders.index"}}{{order/-icon}} Orders{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}
    {{#link-to
      "manage.advertisers.edit.orders"
      model.advertiser.id
      class="text-secondary"
    }}
      {{model.advertiser.name}}
    {{/link-to}}
    >
    {{model.name}}
  {{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills" role="tablist">
      <li class="nav-item">
        {{#link-to "manage.orders.edit.index" class="nav-link" role="tab"}}
          {{entypo-icon "text"}} Details
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "manage.orders.edit.lineitems"  class="nav-link" role="tab"}}
          {{lineitem/-icon}} Line Items <span class="badge badge-light">{{model.lineitems.totalCount}}</span>
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "manage.orders.edit.links"  class="nav-link" role="tab"}}
          {{entypo-icon "link"}} Links
        {{/link-to}}
      </li>
    </ul>
  </div>
  {{outlet}}
</div>
