{{#auto-save/form
  id="lineitem-ad-create"
  shouldAutosave=false
  model=model
  disabled=isActionRunning
  on-submit=(action "create")
as |form|
}}
  {{#bs-modal/body}}
    <div class="row">
      <div class="col-md-6">
        {{ad/-fields/name
          class="mb-3 mb-lg-0"
          form=form
          value=model.deployment
          autofocus=true
          on-change=(action "setFieldValue")
        }}
      </div>
      <div class="col-md-3">
        {{ad/-fields/width
          class="mb-3 mb-lg-0"
          form=form
          value=model.width
          on-change=(action "setFieldValue")
        }}
      </div>
      <div class="col-md-3">
        {{ad/-fields/height
          class="mb-3"
          form=form
          value=model.height
          on-change=(action "setFieldValue")
        }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{ad/-fields/url
          class="mb-0"
          form=form
          value=model.url
          on-change=(action "setFieldValue")
        }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{ad/-fields/image
          class="mb-0"
          form=form
          value=model.image
          on-change=(action "setImage")
        }}
      </div>
    </div>
  {{/bs-modal/body}}
  {{#bs-modal/footer}}
    {{form-elements/save-button
      class="btn btn-success"
      isSaving=isActionRunning
    }}
  {{/bs-modal/footer}}
{{/auto-save/form}}
