<div class="card z-depth-0">
  {{#fetch-more
    query=observable
    edges=model.edges
    hasNextPage=model.pageInfo.hasNextPage
    endCursor=model.pageInfo.endCursor
    on-fetch-start=(route-action "showLoading")
    on-fetch-end=(route-action "hideLoading")
    resultKey=resultKey
  as |fetch|
  }}
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><h5 class="mb-0 text-muted">Total Results: {{model.totalCount}}</h5></li>
      {{#each fetch.nodes as |item|}}
        {{ad/list-item item=item}}
      {{/each}}
    </ul>

    {{#if fetch.hasNextPage}}
      <button
        class="mt-3 btn btn-primary"
        disabled={{fetch.isFetching}}
        {{action fetch.actions.loadMore}}
      >
        {{entypo-icon "download"}} {{#if fetch.isFetching}}Loading...{{else}}Load More{{/if}}
      </button>
    {{/if}}

  {{/fetch-more}}
</div>
{{#bs-modal/footer}}
  <button
    class="btn btn-success btn-lg"
    {{action (route-action "transitionTo" "manage.orders.edit.lineitems.edit.ads.create")}}
  >
    {{ad/-icon}} {{entypo-icon "plus"}}
  </button>
{{/bs-modal/footer}}

