{{#bs-modal
  show=true
  size="xl"
  backdrop="static"
  onClose=(route-action "transitionTo" "manage.orders.edit.lineitems")
as |modal|
}}
  {{#modal.header}}
    <ul class="nav nav-pills">
      <li class="nav-item">
        {{#link-to "manage.orders.edit.lineitems.edit.index" class="nav-link"}}
          {{lineitem/-icon}} Line Item
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "manage.orders.edit.lineitems.edit.creatives" class="nav-link"}}
          {{entypo-icon "image"}} Creatives
        {{/link-to}}
      </li>
    </ul>
    <button
      type="button"
      class="close"
      aria-label="Close"
      {{action modal.actions.hide}}
    >
      {{entypo-icon "cross"}}
    </button>
  {{/modal.header}}
  {{progress-bar class="progress-md" show=isActionRunning}}
  {{outlet}}
  {{progress-bar class="progress-md" show=isActionRunning}}
{{/bs-modal}}
