{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "manage.publishers.index"}}{{entypo-icon "network"}} Publishers{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{model.name}}{{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills" role="tablist">
      <li class="nav-item">
        {{#link-to "manage.publishers.edit.index" class="nav-link" role="tab"}}
          {{entypo-icon "text"}} Details
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "manage.publishers.edit.deployments"  class="nav-link" role="tab"}}
          {{deployment/-icon}} Deployments <span class="badge badge-light">{{model.deployments.totalCount}}</span>
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "manage.publishers.edit.adunits"  class="nav-link" role="tab"}}
          {{entypo-icon "browser"}} Ad Units <span class="badge badge-light">{{model.adunits.totalCount}}</span>
        {{/link-to}}
      </li>
    </ul>
  </div>
  {{outlet}}
</div>
