<div class="card-header" id="heading{{id}}">
  <button
    class="btn btn-link collapsed d-inline-block p-0"
    data-toggle="collapse"
    data-target="#collapse{{id}}"
    aria-controls="collapse{{id}}"
    {{action toggle id}}
  >
    {{title}}
  </button>
</div>
<div
  id="collapse{{id}}"
  class="collapse"
  aria-labelledby="heading{{id}}"
  data-parent="#{{parentId}}"
>
  <div class="card-body">
    {{#if isActionRunning}}
      <small class="text-muted">Loading ad details...</small>
    {{else}}
      {{#auto-save/form
        name="edit-ad"
        identifier=id
      as |form|
      }}
        <div class="row">
          <div class="col-md-6">
            {{ad/-fields/name
              class="mb-3 mb-lg-0"
              form=form
              value=ad.name
              autofocus=true
              on-change=(action "setName")
            }}
          </div>
          <div class="col-md-3">
            {{ad/-fields/width
              class="mb-3 mb-lg-0"
              form=form
              value=ad.width
              on-change=(action "setWidth")
            }}
          </div>
          <div class="col-md-3">
            {{ad/-fields/height
              class="mb-3"
              form=form
              value=ad.height
              on-change=(action "setHeight")
            }}
          </div>
        </div>

        <div class="row">
          <div class="col">
            {{ad/-fields/url
              class="mb-3"
              form=form
              value=ad.url
              on-change=(action "setUrl")
            }}
          </div>
        </div>

        {{confirm-button
          icon="trash"
          label="Delete"
          runningLabel="Deleting..."
          class="btn-danger"
          disabled=isActionRunning
          isRunning=isDeleting
          onConfirm=(action "delete")
        }}
      {{/auto-save/form}}
    {{/if}}
  </div>
</div>
