{{#link-to
  "manage.publishers.edit.deployments"
  item.id
  class="list-group-item list-group-item-action flex-column align-items-start"
}}
  <div class="d-flex flex-row justify-content-between">

    <div class="d-flex flex-column">
      <div class="d-flex flex-row">
        {{!-- {{#if item.logo.src}}
          <div class="d-flex flex-column my-auto mr-3">
            {{imgix-img originalSrc=item.logo.src width=100 w="100" trim=auto fit="clip"}}
          </div>
        {{/if}} --}}
        <div class="d-flex flex-column">
          <h4 class="mb-1">{{item.name}}</h4>
          <p class="mb-0">Deployments: {{item.deployments.totalCount}}</p>
          <p class="mb-1">Ad Units: {{item.adunits.totalCount}}</p>
          <small>ID: {{item.id}}</small>
        </div>
      </div>
    </div>

    <div class="d-none d-md-flex flex-column align-items-end text-right">
      <div class="mt-auto">
        {{user-attribution label="Updated" user=item.updatedBy date=item.updatedAt}}
        {{user-attribution label="Created" user=item.createdBy date=item.createdAt}}
      </div>
    </div>

  </div>
{{/link-to}}
