<nav class="navbar navbar-expand navbar-dark bg-dark">
  {{#link-to "manage.index" class="navbar-brand"}}Parcel<span class="text-secondary">Plug</span>{{/link-to}}

  <ul class="navbar-nav mr-auto">
    {{#if user.isAuthenticated}}
      {{#link-to "manage.index" tagName="li" class="nav-item"}}
        {{#link-to "manage.index" class="nav-link" title="Dashboard"}}
          {{entypo-icon "blackboard"}} <span class="d-none d-md-inline">Dashboard</span>
        {{/link-to}}
      {{/link-to}}

      {{#link-to "manage.advertisers" tagName="li" class="nav-item"}}
        {{#link-to "manage.advertisers" class="nav-link" title="Manage Advertisers"}}
          {{advertiser/-icon}} <span class="d-none d-md-inline">Advertisers</span>
        {{/link-to}}
      {{/link-to}}

      {{#link-to "manage.orders" tagName="li" class="nav-item"}}
        {{#link-to "manage.orders" class="nav-link" title="Manage Orders"}}
          {{order/-icon}} <span class="d-none d-md-inline">Orders</span>
        {{/link-to}}
      {{/link-to}}

      {{#link-to "manage.lineitems" tagName="li" class="nav-item"}}
        {{#link-to "manage.lineitems" class="nav-link" title="Manage Line Items"}}
          {{lineitem/-icon}} <span class="d-none d-md-inline">Line Items</span>
        {{/link-to}}
      {{/link-to}}
    {{/if}}
  </ul>

  <ul class="navbar-nav ml-auto">
    {{nav-models}}
    {{nav-user}}
  </ul>

</nav>

{{loading-progress class="bg-dark"}}
