<nav class="navbar navbar-expand navbar-dark bg-dark">
  {{#link-to "manage.index" class="navbar-brand"}}Email<span class="text-secondary">X</span>{{/link-to}}

  <ul class="navbar-nav mr-auto">
    {{#if user.isAuthenticated}}
      {{#link-to "manage.index" tagName="li" class="nav-item"}}
        {{#link-to "manage.index" class="nav-link" title="Dashboard"}}
          {{entypo-icon "blackboard"}} <span class="d-none d-md-inline">Dashboard</span>
        {{/link-to}}
      {{/link-to}}

      {{#link-to "manage.reporting" tagName="li" class="nav-item"}}
        {{#link-to "manage.reporting" class="nav-link" title="Reporting"}}
          {{entypo-icon "area-graph"}} <span class="d-none d-md-inline">Reporting</span>
        {{/link-to}}
      {{/link-to}}

      {{#link-to "manage.advertisers" tagName="li" class="nav-item"}}
        {{#link-to "manage.advertisers" class="nav-link" title="Manage Advertisers"}}
          {{advertiser/-icon}} <span class="d-none d-md-inline">Advertisers</span>
        {{/link-to}}
      {{/link-to}}

      {{#link-to "manage.orders" tagName="li" class="nav-item"}}
        {{#link-to "manage.orders" class="nav-link" title="Manage Orders"}}
          {{order/-icon}} <span class="d-none d-md-inline">Orders</span>
        {{/link-to}}
      {{/link-to}}

      {{#link-to "manage.lineitems" tagName="li" class="nav-item"}}
        {{#link-to "manage.lineitems" class="nav-link" title="Manage Line Items"}}
          {{lineitem/-icon}} <span class="d-none d-md-inline">Line Items</span>
        {{/link-to}}
      {{/link-to}}
    {{/if}}
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a href="https://as3.gitbook.io/email-ad-platform" title="Application Documentation" class="nav-link" target="_blank" rel="noopener noreferrer">
        {{entypo-icon "text-document"}} <span class="d-none d-md-inline">Documentation</span>
      </a>
    </li>
    {{nav-models}}
    {{nav-user}}
  </ul>

</nav>

{{loading-progress class="bg-dark"}}
