{{#auto-save/form id="publisher-edit" as |form|}}
  <div class="card-body">
    <div class="row">
      <div class="col">
        {{publisher/-fields/name
          class="mb-0"
          form=form
          value=model.name
          on-change=(action "setName")
        }}
      </div>
    </div>
    {{#if model.hasCustomHosts}}
      <div class="row mt-3">
        <div class="col">
          {{#if model.deliveryHostname}}
            <p>Delivery Host<br><code>{{model.deliveryHostname}}</code></p>
          {{/if}}
          {{#if model.cdnHostname}}
            <p>CDN Host<br><code>{{model.cdnHostname}}</code></p>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
  <div class="card-footer text-right">
    {{confirm-button
      icon="trash"
      label="Delete"
      runningLabel="Deleting..."
      class="btn-danger"
      disabled=isActionRunning
      isRunning=isDeleting
      onConfirm=(action "delete")
    }}
  </div>
{{/auto-save/form}}

{{publisher/create-button}}
