{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item active=true}}{{entypo-icon "area-graph"}} Reporting{{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="row">
  <div class="col">
    <div class="card">

      <div class="card-header text-right">
        {{reporting/date-selector
          disabled=isActionRunning
          range=(hash start=start end=end)
          onchange=(action "setDates")
        }}
      </div>

      <div class="card-body">
        <div class="row">
          {{reporting/model-filter
            disabled=isActionRunning
            modelName="publishers"
            value=publishers
          }}
          {{reporting/model-filter
            disabled=isActionRunning
            modelName="deployments"
            value=deployments
          }}
          {{reporting/model-filter
            disabled=isActionRunning
            modelName="adunits"
            value=adunits
          }}
          {{reporting/model-filter
            disabled=isActionRunning
            modelName="advertisers"
            value=advertisers
          }}
          {{reporting/model-filter
            disabled=isActionRunning
            modelName="orders"
            value=orders
          }}
          {{reporting/model-filter
            disabled=isActionRunning
            modelName="lineitems"
            value=lineitems
          }}
        </div>
      </div>

      <div class="card-footer d-flex justify-content-end">
        {{confirm-button
          icon="warning"
          label="Reset"
          runningLabel="Resetting..."
          class="btn-warning"
          disabled=isActionRunning
          onConfirm=(action "reset")
        }}
        <button
          type="submit"
          class="btn btn-success ml-1"
          disabled={{ isActionRunning }}
          {{action "update"}}
        >
          {{entypo-icon "controller-play"}} Execute
        </button>
      </div>

      <div class="card-body">

        <div class="table-responsive mt-3">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>Publisher</th>
                <th>Deployment</th>
                <th class="text-nowrap">Ad Unit</th>
                <th class="text-nowrap">Ad Unit Size</th>
                <th>Advertiser</th>
                <th>Order</th>
                <th>Line Item</th>
                <th>Ad</th>
                <th>Ad Size</th>
                <th>Impressions</th>
                <th>Clicks</th>
                <th>CTR</th>
              </tr>
            </thead>
            <tbody>
              {{#each model.rows as |item|}}
                <tr>
                  <td>
                    {{#link-to "manage.publishers.edit" item.publisher.id }}
                      {{ item.publisher.name }}
                    {{/link-to}}
                  </td>
                  <td>
                    {{#link-to "manage.deployments.edit" item.deployment.id }}
                      {{ item.deployment.name }}
                    {{/link-to}}
                  </td>
                  <td>
                    {{#link-to "manage.adunits.edit" item.adunit.id }}
                      {{ item.adunit.name }}
                    {{/link-to}}
                  </td>
                  <td>{{ item.adunit.size }}</td>
                  <td>
                    {{#link-to "manage.advertisers.edit" item.advertiser.id }}
                      {{ item.advertiser.name }}
                    {{/link-to}}
                  </td>
                  <td>
                    {{#link-to "manage.orders.edit" item.order.id }}
                      {{ item.order.name }}
                    {{/link-to}}
                  </td>
                  <td>
                    {{#link-to "manage.orders.edit.lineitems.edit" item.order.id item.lineitem.id }}
                      {{ item.lineitem.name }}
                    {{/link-to}}
                  </td>
                  <td>
                    {{#link-to
                      "manage.orders.edit.lineitems.edit.ads.edit"
                      item.order.id
                      item.lineitem.id
                      item.ad.id
                    }}
                      {{ item.ad.name }}
                    {{/link-to}}
                  </td>
                  <td>{{ item.ad.size }}</td>
                  <td title="Toal Views: {{ item.impressions }}">{{ number-format item.impressions "0a" }}</td>
                  <td title="Total Clicks: {{ item.clicks }}">{{ number-format item.clicks "0a" }}</td>
                  <td title={{ item.ctr }}>{{ number-format item.ctr "0.00%" }}</td>
                </tr>
              {{else}}
                <tr><td class="text-muted">No results</td></tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

      <div class="card-footer d-flex justify-content-end">
        <a
          href={{downloadUrl}}
          class="btn btn-success"
          disabled={{isActionRunning}}
        >
          {{ entypo-icon "download" }} Download
        </a>
      </div>

    </div>
  </div>
</div>
