{{#form.elements.file
  class="custom-file-input"
  autocomplete="off"
  autofocus=autofocus
  accept=accept
  name=name
  label=label
  on-change=(action "handleImage")
  required=true
as |input|
}}
  {{input.elements.label}}
  <div class="custom-file">
    {{input.element}}
    <label class="custom-file-label" for="customFile">Choose file</label>
    {{input.elements.invalid-feedback}}
  </div>
{{/form.elements.file}}
{{#if value.src}}
  <figure class="figure mt-3">
    <img src={{value.src}} alt={{value.name}} class="img-thumbnail">
    <figcaption class="figure-caption">{{value.width}}x{{value.height}}</figcaption>
  </figure>
{{/if}}



