{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "manage.advertisers.index"}}{{entypo-icon "archive"}} Advertisers{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{model.name}}{{/crumbs.item}}
{{/nav-breadcrumbs}}


{{#auto-save/form id="advertiser-edit" as |form|}}
  <div class="card">
    <div class="card-header"></div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          {{advertiser/-fields/name
            form=form
            value=model.name
            on-change=(action "setName")
          }}
        </div>
      </div>
      <div class="row">
        <div class="col">
          {{advertiser/-fields/website
            class="mb-0"
            form=form
            value=model.website
            on-change=(action "setWebsite")
          }}
        </div>
      </div>
    </div>
    <div class="card-footer text-right">
      {{confirm-button
        icon="trash"
        label="Delete"
        runningLabel="Deleting..."
        class="btn-danger action"
        disabled=isActionRunning
        isRunning=isDeleting
        onConfirm=(action "delete")
      }}
    </div>
  </div>
{{/auto-save/form}}
