{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "manage.advertisers.index"}}{{entypo-icon "archive"}} Advertisers{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{model.name}}{{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills" role="tablist">
      <li class="nav-item">
        {{#link-to "manage.advertisers.edit.index" class="nav-link" role="tab"}}
          {{entypo-icon "text"}} Details
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "manage.advertisers.edit.orders"  class="nav-link" role="tab"}}
          {{order/-icon}} Orders <span class="badge badge-light">{{model.orders.totalCount}}</span>
        {{/link-to}}
      </li>
    </ul>
  </div>
  {{outlet}}
</div>
