{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "manage.adunits.index"}}{{adunit/-icon}} Ad Units{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}
    {{model.name}}
    [{{model.size}}]
    {{#link-to "manage.deployments.edit" model.deployment.id}}{{model.deployment.name}}{{/link-to}}
    ({{#link-to "manage.publishers.edit" model.publisher.id}}{{model.publisher.name}}{{/link-to}})
  {{/crumbs.item}}
{{/nav-breadcrumbs}}


{{#auto-save/form id="adunit-edit" as |form|}}
  <div class="card">
    <div class="card-header"></div>
    <div class="card-body">

      <div class="row">
        <div class="col">
          {{adunit/-fields/name
            form=form
            value=model.name
            on-change=(action "setName")
          }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          {{adunit/-fields/deployment
            class="mb-3 mb-lg-0"
            form=form
            value=model.deployment
            on-change=(action "setDeployment")
          }}
        </div>
        <div class="col-md-3">
          {{adunit/-fields/width
            class="mb-3 mb-lg-0"
            form=form
            value=model.width
            on-change=(action "setWidth")
          }}
        </div>
        <div class="col-md-3">
          {{adunit/-fields/height
            class="mb-0"
            form=form
            value=model.height
            on-change=(action "setHeight")
          }}
        </div>
      </div>

    </div>
    <div class="card-footer text-right">
      {{confirm-button
        icon="trash"
        label="Delete"
        runningLabel="Deleting..."
        class="btn-danger"
        disabled=isActionRunning
        isRunning=isDeleting
        onConfirm=(action "delete")
      }}
    </div>
  </div>
{{/auto-save/form}}

{{adunit/create-button}}
